@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200,300,400,500,600,700,800,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
   margin-top: 100px;
   margin-bottom: 200px;
   justify-content: center;
   align-items: center;
   min-height: 50vh;
   background-color: #2f363e;
}

.container .row .btn {
    margin-bottom: 30px;
    margin-left: 155px;
    align-items: center;
}

#btnTimeFormat{
    color: white;
    background-color: rgb(52, 52, 243);
    width: 250px;
    height: 40px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px;
    font-weight: 600;
}

#time {
    display: flex;
    gap: 40px;
    color: #fff;

    /* justify-content: center;
    align-items: center;
    /* min-height: 50%; */
    background-color: #2f363e;
}


#time .circle {
    position: relative;
    width: 150px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#time .circle svg {
    position: relative;
    width: 150px;
    height: 150px;
    /* elforgatja a karika színezését ennyi fokkal */
    transform: rotate(270deg);
}

#time .circle svg circle {
    width: 100%;
    height: 100%;
    fill: transparent;
    /* ez színezi be a kört */
    stroke: #191919;
    stroke-width: 4;
    /* ez pozícionál és rendesen a boxba teszi */
    transform: translate(5px, 5px);
}

#time .circle svg circle:nth-child(2){
    stroke: var(--clr);
    /* a karika mekkora része legyen színezett. max érték 440 ( 2 * r * pi) */
    stroke-dasharray: 440;
}

#time div {
    position: absolute;
    text-align: center;
    font-weight: 500;
    font-size: 1.5em;

}

#time div span {
    position: absolute;
    padding: 13px;
    transform: translateX(-50%) translateY(-10px);
    font-size: 0.35em;
    font-weight: 300;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

#time .ap {
    position: relative;
    font-size: 1em;
    transform: translateX(-20px);

}

.dots {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dots::before {
    content: '';
    position: absolute;
    top: -3px;
    width: 15px;
    height: 15px;
    background-color: var(--clr);
    border-radius: 50%;
    /* foszforeszkáló hatás */
    box-shadow: 0 0 20px var(--clr), 0 0 60px var(--clr);
}